/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

#recipiente{
	position: relative;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-image: linear-gradient(#f6f1b2, #4599b2);
	background-attachment: fixed;
	overflow: visible;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

header{
	line-height: 0.5;
}

body{
	margin: 0;
}

h1{
	font-family: "Ravie";
	font-size: 36px;
	color: #e90c0c;
	padding: 20px 0 0 70px;
	margin: 0;
}

h3{
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

.main{
	border: 1px solid #aac0ae;
	width: 646px;
	text-align: left;
	background-color: #ffffff20;
	margin-left: 122px;
	padding: 0 15px 40px 15px; 
}

.salgado{
	padding: 3px 0 20px 0;
}

.pratos{
	padding: 0 0 20px 0;
}

.cartao{
	width: 95px;
	padding: 46px 15px 25px 690px;
}

.subt{
	font-family: "Trebuchet MS", sans-serif;
	font-size: 18px;
	color: #333333;
	padding: 0 0 0 200px;
}

.acai{
	color: #d027aa;
}

.lateral{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 154px;
	text-align: center;
}

.siri{
	position: absolute;
	top: 7px;
	left: -10px;
}

.lateral h2{
	position: absolute;
	font-family: "Verdana", sans-serif;
	font-size: 48px;
	color: #333333;
	font-weight: bold;
	transform: rotate(-90deg);
	left: -45px;
	top: 260px;
}

.bolha{
	position: absolute;
	bottom: 125px;
	padding: 0 20px 14px 0;
	left: 10px;
	bottom: 125px;
}

.fish{
	position: absolute;
	bottom: 0px;
	left: -44px;
}

.item{
	font-size: 14px;
	line-height: 2;
}

.nome{
	font-family: "Verdana", sans-serif;
	color: #333333;
}

.price{
	float: right;
	margin-top: -15px;
}

.ticket{
	position: absolute;
	left: -345px;
	top: 300px;
	overflow: hidden;
}

.ticket:hover{
	left: -300px;
	overflow: visible;
}